html {
	background-color: maroon;
  }
  
  div {
	background-color: rgb(235, 235, 235);
	margin: 25px auto;
	padding: 10px 50px;
	border: 0.5px solid grey;
  }
  
  body {
	background-color: white;
	border-radius: 15px;
	width: 600px;
	margin: 25px auto;
	padding: 75px 75px;
	color: black;
  }
  
  img {
	width: 400px;
	text-align: center;
  }
  
  h1 {
	margin: 0.5px;
	color: #808000;
	font-family: "Maven Pro", sans-serif;
  }
  p {
	font-family: "Maven Pro", sans-serif;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.3px;
  }
  h2 {
	font-family: "Maven Pro", sans-serif;
	color: maroon;
  }
  
  h3 {
	color: maroon;
	font-family: "Maven Pro", sans-serif;
  }
  
  button {
	background-color: #808000;
	color: white;
	font-variant: small-caps;
	padding: 5px 15px;
	height: 35px;
  }
  
  .Cal {
	border: 2px solid black;
	font-variant: small-caps;
	font-weight: bold;
  }
  
  .c {
	font-weight: bold;
  }
  .a {
	font-weight: bold;
  }
  .lol {
	font-weight: bold;
  }
  
  .bl {
	color: maroon;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
  }
  
  .L {
	font-family: "Maven Pro", sans-serif;
	font-family: "Open Sans", sans-serif;
  }
  
  .img {
	text-align: center;
  }
  
  img:hover {
	border: 1px solid black;
	transition: 0.5px;
  }
  
  button:hover {
	cursor: pointer;
  }